.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    height: auto;
    padding: 1rem;
    border-radius: 0.5rem;
    color: var(--text-color);
    background-color: var(--light-background);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    cursor: pointer;
}

.container:hover {
    box-shadow: 0 0 1rem var(--accent-color);
    transform: scale(1.01);
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
}

.image {
    width: 100%;
    height: auto;
    object-fit: cover;
}
