.container {
    position: fixed;
    top: 5.125rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: 100%;
    max-width: 25%;
    height: calc(100vh - 5.125rem);
    border: 2px solid #e9e9e9;
    border-top: none;
    background-color: var(--light-background);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.container.open {
    transform: translateX(0);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem 1rem;
    border-bottom: 2px solid #e9e9e9;
    background-color: var(--light-background);
}

.search {
    padding: 0.5rem;
    border: 1px solid var(--text-color);
    outline: none;
    width: 100%;
    border-radius: 0.5rem;
    font-size: 16px;
}

.filters {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 1rem;
    overflow-y: scroll;
}

.filters hr {
    border: 1px solid #e9e9e9;
}

.filters hr:last-child {
    border: none;
}

@media only screen and (min-width: 1024px) {
    .container {
        margin: 0;
        transform: translateX(0);
        position: sticky;
    }
}
